html, body {
  height: 100%;
  color: #61DAFB;
}

h1 {
  margin: 20px 0 15px 0;  
}

#main {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #61DAFB;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.form-inline .form-control {
  width: 88%;
  margin-right: 5px;
}

.done {
  color: gray;
  text-decoration: line-through;
}

.undone {
  color: red;
}

@media (max-width: 990px){
  .col-md-12 {
      margin-left: 25px;
      margin-left: 25px;
      width: 75%;
  }
  .form-inline .form-control {
    display: inline-block;
    width: 65%;
    margin-left: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
  }

  @media (max-width: 492px){
    .col-md-12 {
        margin-left: 25px;
        margin-left: 25px;
        width: 70%;
    }
    .form-inline .form-control {
      display: inline-block;
      width: 60%;
      padding-right: 5px;
      margin-left: 20px;
      margin-right: 5px;
      vertical-align: middle;
  }
    }

.icon {
  margin: 6px 10px 6px 0;
}
